<h2>About us</h2>
<div class="team-container">
    <div class="team-member">
        <img src="nelson.jpg" alt="Nelson Wu" />
        <div class="bio">
            <h3>Nelson Wu</h3>
            <p>I am an online student majoring in Computer Science. I actually graduated
                with a Biology degree, but decided to switch careers during the COVID pandemic.
                Moved from Virginia to California about 2 years ago. Currently, working full-time
                and hoping to graduate this semester. I'm so done with school after this...I want my life back 😭
            </p>
        </div>
    </div>

    <div class="team-member">
        <img src="" alt="Madelyn Baker" />
        <div class="bio">
            <h3>Madelyn Baker</h3>
            <p>Bio goes here</p>
        </div>
    </div>

    <div class="team-member">
        <img src="" alt="Gavi Santiago" />
        <div class="bio">
            <h3>Gavi Santiago</h3>
            <p>I am a senior in Computer Science and hope to be graduating this fall. I started college in Neuroscience
                then moved to Biochem, and finally ended up in Computer Science. I've lived in Colorado for a majority
                of my life and started to learn how to ski about two years ago. In my free time I really enjoy hanging
                out with my friends reading, puzzles, and shopping.</p>
        </div>
    </div>
    <div class="team-member">
        <img src="" alt="Samuel Wade" />
        <div class="bio">
            <h3>Samuel Wade</h3>
            <p>Bio goes here</p>
        </div>
    </div>
</div>