nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: blue;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.header h1 {
    margin: 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}