nav {
    padding: 20px
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #16001E;
    font-weight: bold;
    transition: color 0.3s;
    border: 2px solid #05204A;
    background-color: #BFA7DC;
    padding: 12px 24px;
}

nav ul li a:hover {
    background-color: #AA8BD0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.header h1 {
    margin: 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
}

/* Color Pallete:

- #BFACAA
- #02020A
- #05204A
- #BFA7DC
- #E1E2EF

/*

/* Background to text contrast ratio for this component:

Background 1: #BFA7DC;, Foreground 1: #05204A; = ratio: 8:1

*/