.styled-table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 1rem auto;
}

.styled-table td {
    border: 1px solid #ccc;
    height: 40px;
    padding: 0.5rem;
}

.col-left {
    width: 20%;
    background-color: #f4f4f4;
}

.col-right {
    width: 80%;
}

.print-section {
  display: none;
}

@media print {
    .screen {
      display: none !important;
    }
  
    .print-section {
      display: inline !important;
    }
  
    select {
      display: none !important;
    }
  }
  